<!-- table -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Author</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskList">
      <th scope="row">{{ task.id }}</th>
      <td>{{ task.title }}</td>
      <td>{{ task.author }}</td>
      <td>{{ task.category_id }}</td>
      <td>
        <a class="btn btn-primary btn-sm" routerLink="/form/{{ task.id }}">See/Edit Task</a>
        <a class="btn btn-danger btn-sm" (click)="delete(task.id)">Delete Task</a>
      </td>
    </tr>
  </tbody>
  </table>